* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: 'Roboto';
}

.App {
    text-align: center;
    position: relative;
    min-height: 100vh;
}

h1 {
    display: inline;
    padding: 0 30px;
    font-family: 'RalewayDots';
    line-height: 15rem;
    font-size: 9rem;
    text-shadow: 5px 5px 8px #475d5d65;
    background-image: linear-gradient(
        to right,
        #ffc92a,
        #feab2e,
        #d81b60,
        #f06262,
        #6b42b4,
        #943aab,
        #3a489f,
        #11a8cc,
        #a6ce50,
        #00796b
    );
    background-clip: text;
    color: transparent;
}

h3 {
    font-weight: 300;
    color: white;
}

.main {
    padding-bottom: 10vh;
}

.select-sort-order {
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
}

select,
option {
    color: #3a2a55;
    font-size: 16px;
}

select:hover {
    cursor: pointer;
    color: #7c5bb6;
}

.app-description {
    background-color: black;
}

.deezer {
    font-family: 'MabryDeezer';
    font-style: normal;
    font-weight: 700;
}

.deezer-logo {
    height: 3vh;
}

.main-content-disabled {
    pointer-events: none;
}

ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 50px;
}

li {
    font-weight: 500;
    font-size: 1.8rem;
    padding: 2px;
}

li:hover {
    cursor: pointer;
    background-image: linear-gradient(
        to right,
        #ffc92a,
        #feab2e,
        #d81b60,
        #f06262,
        #6b42b4,
        #943aab,
        #3a489f,
        #11a8cc,
        #a6ce50,
        #00796b
    );
    color: white;
}

.modal-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    font-size: 16px;
    width: 500px;
    min-height: 400px;
    border-radius: 6px;
    background-color: white;
    pointer-events: all;
}

.modal-content button {
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #dc4a11d8;
    color: white;
}

.modal-content button:hover {
    background-color: #dc4c11;
}

.modal-content button:active {
    background-color: #3ca564;
}

.modal-track-rank {
    font-size: 50px;
    background-color: #202122;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-right-radius: 50px;
    color: white;
}

.modal-track-rank span {
    font-size: 16px;
    font-weight: 300;
}

.modal-track-title {
    font-size: 40px;
    padding: 20px 40px;
}

.modal-track-artist {
    font-size: 24px;
    padding: 10px;
}

.modal-track-duration {
    padding: 10px;
    font-weight: 300;
}

.footer {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 10vh;
}
